region               = "ap-seoul-1"
tenancy_ocid         = "ocid1.tenancy.oc1..example"
user_ocid            = "ocid1.user.oc1..example"
fingerprint          = "00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"
private_key_path     = "~/.oci/oci_api_key.pem"
compartment_ocid     = "ocid1.compartment.oc1..example"
availability_domain  = "EXAMPLE:AP-SEOUL-1-AD-1"
subnet_ocid          = "ocid1.subnet.oc1.ap-seoul-1.example"
image_ocid           = "ocid1.image.oc1.ap-seoul-1.example"
ssh_authorized_keys  = "ssh-ed25519 AAAA... user@example"
